<div class="container">

  <div class="row">
    <div class="col-3">
    <nav id="main-navigation"> <br>
      <a routerLink="/home">Homepage</a>  <br><br>
      <a routerLink="/overview-categories">Übersichtsseite Kategorien</a> <br><br>
      <a routerLink="/overview-week">Übersichtsseite Wochentage</a> <br><br>
    </nav>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
      <!--
        "Inhalte" der Komponente werden über das router-outlet in die Anwendung gerendert.
        <router-outlet> wird ersetzt durch den Inhalt der aktiven Komponente.
       -->
    </div>

  </div>

</div>
